/*  header and navigation  */

html {
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

img {
  max-width: 100%;
}

i {
  display: block;
}

span {
  display: block;
}

.h1title {
  text-align: center;
}

.notosansjapanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

.navlinksbar {
  text-align: center;
}

.navlinks {
  display: inline-block;
}

.navbutton {
  border-bottom: 1.5px solid #8bc9d9;
  text-decoration: none;
  color: #005e76;
}

.navbutton:hover {
  border-color: #005e76;
  color: inherit;
}

.content {
  text-align: center;
}

.mainbanner {
  max-width: 100%;
}

.article {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.btn {
  background-color: #fff;
  border: 1.2px solid #8bc9d9;
  border-radius: 6px;
  color: #005e76;
}

.btn:hover {
  background-color: #8bc9d9;
  border-color: #005e76;
  color: #0084a6;
}

.btn-ghost {
  border-color: #e2e2e2;
}
